@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Roboto+Condensed:wght@600&family=Ubuntu&display=swap");

:root {
    --cor-pricipal: #00398f;
    --cor-secundaria: #4d7ec7;
    --cor-terciaria: #99c2ff;
    --cor-quaternaria: #ebf3ff;
    --cor-quintenaria: #000001;

    --fonte-logo: "New Amsterdam", sans-serif;
    --fonte-principal: "Nunito Sans", sans-serif;
    --fonte-secundaria: "Roboto Condensed", sans-serif;
    --fonte-terciaria: "Ubuntu", sans-serif;

    font-size: 16px;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-quaternaria);
    color: var(--cor-quintenaria);
    font-family: var(--fonte-principal);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 2.5rem 0 2.5rem;
    background-color: var(--cor-pricipal);
}

.link-logo {
    font-family: var(--fonte-logo);
    color: var(--cor-quaternaria);
    font-size: 3rem;
}

.cabecalho__menu {
    display: flex;
    gap: 1.25rem; 
}

.menu {
    color: var(--cor-quaternaria);
    font-family: var(--fonte-terciaria);
}

.rodape {
    background-color: var(--cor-pricipal);
    color: var(--cor-quaternaria);
    text-align: center;
    padding: 0.625rem 0;
    margin-top: 5%;
}

.icones__links {
    display: inline;
}

.rodape__paragrafo {
    margin-top: -15px;
}

.sofa-imagem {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.tabela {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-left: 15%;
}

.tabela th,
.tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
    color: #333;
}

h2,
p {
    text-align: center;
    padding: 10px 0;
}