body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
    max-width: 800px; /* Define uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

h2 {
    color: #333;
    text-align: left; /* Centraliza o título */
}

p {
    color: #555;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: left; /* Centraliza o parágrafo */
}

.sofa-imagem {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
    color: #333;
}
